site_name: OpenSquirrel
site_dir: public
repo_url: https://github.com/QuTech-Delft/OpenSquirrel
use_directory_urls: false

nav:
  - Home:
    - Home: index.md
    - Installation: installation.md
  - Tutorial:
    - Tutorial: tutorial/index.md
    - Creating a circuit: tutorial/creating-a-circuit.md
    - Applying compilation passes: tutorial/applying-compilation-passes.md
    - Writing out and exporting: tutorial/writing-out-and-exporting.md
  - Circuit builder:
    - Circuit builder: circuit-builder/index.md
    - Instructions:
        - Gates: circuit-builder/instructions/gates.md
        - Non-unitaries: circuit-builder/instructions/non-unitaries.md
        - Control instructions: circuit-builder/instructions/control-instructions.md
  - Compilation passes:
    - Compilation passes: compilation-passes/index.md
    - Decomposition:
      - Decomposition: compilation-passes/decomposition/index.md
      - ABA decomposer: compilation-passes/decomposition/aba-decomposer.md
      - CNOT decomposer: compilation-passes/decomposition/cnot-decomposer.md
      - CZ decomposer: compilation-passes/decomposition/cz-decomposer.md
      - McKay decomposer: compilation-passes/decomposition/mckay-decomposer.md
      - Predefined decomposers: compilation-passes/decomposition/predefined-decomposers.md
    - Exporting:
      - Exporting: compilation-passes/exporting/index.md
      - cQASMv1 exporter:  compilation-passes/exporting/cqasm-v1-exporter.md
      - quantify-scheduler exporter:  compilation-passes/exporting/quantify-scheduler-exporter.md
    - Mapping:
      - Mapping: compilation-passes/mapping/index.md
      - Hardcoded mapper: compilation-passes/mapping/hardcoded-mapper.md
      - Identity mapper: compilation-passes/mapping/identity-mapper.md
      - Random mapper: compilation-passes/mapping/random-mapper.md
    - Merging:
      - Merging: compilation-passes/merging/index.md
      - Single-qubit gates merger: compilation-passes/merging/single-qubit-gates-merger.md
    - Routing:
      - Routing: compilation-passes/routing/index.md
      - A* router: compilation-passes/routing/a-star-router.md
      - Shortest-path router: compilation-passes/routing/shortest-path-router.md
    - Validation:
      - Validation: compilation-passes/validation/index.md
      - Interaction validator: compilation-passes/validation/interaction-validator.md
      - Primitive gate validator: compilation-passes/validation/primitive-gate-validator.md
  - API documentation: reference/

theme:
  name: "material"
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.tracking
    - navigation.footer
    - content.code.copy
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - attr_list
  - admonition
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - gen-files:
      scripts:
        - scripts/gen_reference_page.py
  - literate-nav:
      nav_file: reference.md
  - mkdocstrings
  - glightbox
  - search
